body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 2rem;
}

.project-card {
    margin-bottom: 2rem;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}